<section>
    <div class="form-container">
        <div></div>
        <div class="form-top">
            <div class="form-header"><p class="text-center font-24 fw-bolder">Update Movie or TV</p></div>
            <div class="form-body">
                <form  action="/admin/updateMovieTv/{{_id}}?method=PUT" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">                        
                            {{!-- <div class="col"> --}}
                                <label>Title</label>
                                <input type="text" class="form-control" value='{{title}}' id="title" name="title">
                                <div class="error-message">{{errors.titleError}}</div>
                                <br>
                            {{!-- </div> --}}
                            {{!-- <div class="col"> --}}
                                <label>Synopsis</label>
                                <textarea type="text" class="form-control" id="synopsis" name="synopsis">{{synopsis}}</textarea>
                                <div class="error-message">{{errors.synopsisError}}</div>
                            {{!-- </div> --}}
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Rental Price Per Day</label>
                                    <input type="number" step="0.01" class="form-control" value={{rentalPrice}} placeholder="$" id="rentalPrice" name="rentalPrice">
                                    <div class="error-message">{{errors.rentalPriceError}}</div>
                                </div>
                                <div class="col">
                                    <label>Purchase Price</label>
                                    <input type="number" step="0.01" class="form-control" value={{purchasePrice}} placeholder="$" id="purchasePrice" name="purchasePrice">
                                    <div class="error-message">{{errors.purchasePriceError}}</div>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <label>Category</label>
                                <select name="category">
                                    <option {{#if_eq category "movie"}}selected{{/if_eq}}value="movie">Movie</option>
                                    <option {{#if_eq category "tv"}}selected{{/if_eq}} value="tv">TV</option>
                                </select>
                            </div>
                            <br>
                            <div class="col">
                                <label>Genre</label>
                                <select name="genre">
                                    <option {{#if_eq genre "action"}}selected{{/if_eq}} value="action">Action</option>
                                    <option {{#if_eq genre "scri-fi"}}selected{{/if_eq}} value="scri-fi">Scri-Fi</option>
                                    <option {{#if_eq genre "family"}}selected{{/if_eq}} value="family">Family</option>
                                    <option {{#if_eq genre "kid"}}selected{{/if_eq}} value="kid">Kid</option>
                                </select>
                            </div>
                            <br>                         
                            <div class="col">
                                <label>Featured</label>
                                <select name="feature">
                                    <option {{#if_eq feature "rental"}}selected{{/if_eq}} value="rental">Rental</option>
                                    <option {{#if_eq feature "week-deal"}}selected{{/if_eq}} value="week-deal">Deal Of The Week</option>
                                    <option {{#if_eq feature "new-release"}}selected{{/if_eq}} value="new-release">New Release</option>
                                    <option {{#if_eq feature "tv-season"}}selected{{/if_eq}} value="tv-season">TV Season</option>
                                </select>
                            </div>
                            <br>
                            <div class="col">
                                <label>Rating</label>
                                <select name="rating">
                                    <option {{#if_eqNum rating 1}}selected{{/if_eqNum}} value=1>1</option>
                                    <option {{#if_eqNum rating 2}}selected{{/if_eqNum}} value=2>2</option>
                                    <option {{#if_eqNum rating 3}}selected{{/if_eqNum}} value=3>3</option>
                                    <option {{#if_eqNum rating 4}}selected{{/if_eqNum}} value=4>4</option>
                                    <option {{#if_eqNum rating 5}}selected{{/if_eqNum}} value=5>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Number of stars</label>
                                <input type="number" class="form-control" value={{numberOfStar}} id="numberOfStar" name="numberOfStar">
                                <div class="error-message">{{errors.numberOfStar}}</div>
                            </div>
                            <br>
                            <div class="col">
                                <label>Small Poster Image</label>
                                <input type="file" name="smallPosterImg" id="smallPosterImg">
                                <div class="error-message">{{errors.smallPosterImgError}}</div>
                            </div>
                            <br>
                            
                            <div class="col"> 
                            
                                <label>Large Poster Image</label>
                                <input type="file" name="largePosterImg" id="largePosterImg">
                                <div class="error-message">{{errors.largePosterImgError}}</div>
                            </div>


                    </div>
                    <div class="mb-3">
                        <button type="submit" class="form-button">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div></div>
</section>