<section>      {{!-- hero --}}
    <div class="container">
        <div class="hero-wrapper">
            <div class="slideshow-container">
                {{#each backgroundImage}}
                <div class="mySlides fade">
                    <a href="#">
                        <img src={{this.heroImage}} style="width:100%">
                    </a>
                </div>
                {{/each}}
            </div>  
        </div>
    </div>
</section>
<section> {{!-- Movie Section --}}
    <div class="container">
        <div class="main-section-title">
            <a href="">Movies</a>
        </div>
        <div class="grid-container-7">
            {{#each movies}}
                <a href="/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/{{this.posterImage}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>

<section> {{!-- Content Section --}}
    <div class="container">
        <div class="special-container flex-container">
        <div class="center-align">
            <span id="special-top-line">
                ULTIMATE<br> MOVIE FAN
            </span>
            <span id="special-second-line">
                SALE<br>
            </span>
            <span id="special-third-line">
                100'S OF MOVIES ON SALE FOR A LIMITED TIME
            </span>
        </div>
        <div class="grid-container-5">
            {{#each promotions}}
                <div class="special-poster-container">
                    <img src="/img/{{this.posterImage}}" alt="{{this.title}}">
                </div>
            {{/each}}
        </div>
        </div>

    </div>


</section>

<section> {{!-- TV Section --}}
    <div class="container">
        <div class="main-section-title">
            <a href="">TV</a>
        </div>
        <div class="grid-container-7">
            {{#each TVs}}
                <a href="/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/{{this.posterImage}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>
    <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    slides[slideIndex-1].style.display = "block";  
    setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
    </script>               

</section>