<section>
    <div class="form-container">
        <div></div>
        <div class="form-top">
            <div class="form-header"><p class="text-center font-24 fw-bolder">Welcome {{#upperCase user.firstName}} {{/upperCase}} {{#upperCase user.lastName}} {{/upperCase}} to Vudu family</p></div>
            <div class="form-body">
                <div class="fs-3 text-primary">Your Cart</div>
                
                <table class="table table-striped table-hover">
                    <thead>
                        <th scope="col">Movie Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody>
                        {{#each carts}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.type}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <a href="/user/delete/{{this.id}}?method=DELETE" class="btn btn-danger">Remove</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="fs-3 text-danger">Total: $ {{sum}}</div>
            </div>

            <div class="form-body">
                <form action="/user/checkout" method="POST">
                    <button class="form-button" type="submit">Click here to Check Out</button>
                </form>
                
            </div>
        </div>
        <div></div>
</section>