<section>      {{!-- hero testing --}} 
    <div class="container">
        <div class="hero-wrapper">
            <div class="slideshow-container">
                {{#each backgroundImage}}
                <div class="mySlides fade">
                    <a href="#">
                        <img src={{this.heroImage}} style="width:100%">
                    </a>
                </div>
                {{/each}}
            </div>  
        </div>
    </div>
</section>
<section> 
    <div class="container">
        <div class="main-section-title">
            <a href="">Featured Rentals</a>
        </div>
        <div class="grid-container-7">
            {{#each rentals}}
                <a href="/movie/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/movie/{{this.smallPosterImg}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>

<section> 
    <div class="container">
        <div class="main-section-title">
            <a href="">Featured New Releases</a>
        </div>
        <div class="grid-container-7">
            {{#each newReleases}}
                <a href="/movie/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/movie/{{this.smallPosterImg}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>

<section> {{!-- Content Section --}}
    <div class="container">
        <div class="special-container flex-container">
        <div class="center-align">
            <span id="special-top-line">
                ULTIMATE<br> MOVIE FAN
            </span>
            <span id="special-second-line">
                SALE<br>
            </span>
            <span id="special-third-line">
                100'S OF MOVIES ON SALE FOR A LIMITED TIME
            </span>
        </div>
        <div class="grid-container-5">
            {{#each banners}}
                <div class="special-poster-container">
                    <img src="/img/movie/{{this.smallPosterImg}}" alt="{{this.title}}">
                </div>
            {{/each}}
        </div>
        </div>

    </div>


</section>

<section> 
    <div class="container">
        <div class="main-section-title">
            <a href="">Deals of the Week</a>
        </div>
        <div class="grid-container-7">
            {{#each weekdeals}}
                <a href="/movie/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/movie/{{this.smallPosterImg}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>

<section> 
    <div class="container">
        <div class="main-section-title">
            <a href="">Featured TV Seasons</a>
        </div>
        <div class="grid-container-7">
            {{#each TVs}}
                <a href="/movie/{{this.id}}">
                    <div class="poster-wrapper">
                        <img class="img-thumbnail" src="/img/movie/{{this.smallPosterImg}}" alt="{{this.title}}">
                        <div class="overlay">
                            <div class="text">{{this.title}}</div>
                        </div>                        
                    </div> 
                </a>
            {{/each}}
        </div>
    </div>
</section>
