<section>
    <div class="container">
            <div class="hero-background hero-wrapper d-flex product-hero-background" style="background-image: url('/img/movie/{{movie.largePosterImg}}');">
                <div class="product-background-modify">
                    <div class="product-wrapper d-flex justify-content-start">
                        <div class="product-icon">
                            <img src="/img/movie/{{movie.smallPosterImg}}" alt={{movie.title}}>
                        </div>
                        <div class="product-info d-flex flex-column">
                            <div class="movie-title">{{movie.title}}</div>
                            <div class="left-align">{{movie.category}} | {{movie.genre}} | Rating: {{movie.rating}} | ({{movie.numberOfStar}})</div>
                            {{!-- <div class="left-align">{{product.rating}}</div> --}}
                            <div class="movie-description">{{movie.synopsis}}</div>
                    
                            <div class="d-flex justify-content-center ">
                                <form action="/user/addRent/{{movie.id}}" method="POST">
                                    <button class="movie-button" type="submit">Rent ${{movie.rentalPrice}}</button>
                                </form>
                                {{!-- <button class="movie-button" type="button">Rent ${{rentalPrice}}</button> --}}
                                

                                <form action="/user/addPurchase/{{movie.id}}" method="POST">
                                    <button class="movie-button" type="submit">Buy ${{movie.purchasePrice}}</button>
                                </form>
                            
                            </div>
                            <br>
                            {{#if admin}}
          
                                <a href="/admin/updateMovieTv/{{movie.id}}">
                                    <button type="button" class="btn btn-secondary btn-md btn-block btn-danger">Edit (Admin Only)</button> 
                                </a> 
                                <br>
                                      
                                <form action="/admin/deleteMovieTv/{{movie.id}}?method=DELETE" method="POST">
                                    <button onclick="return confirm('Are you sure to delete this movie?');" type="submit" class="btn btn-secondary btn-md btn-block btn-danger">Delete (Admin Only)</button> 
                                </form>         
                           
                            {{/if}}
                            <br>
                            
                        

                        </div>
                    </div>                
                </div>    
            </div>
    </div>
</section>